@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu>
            <CodeTagToggle @bind-IsActive="IsCodeTag" Label="Pre Tag" ActiveLabel="Code Tag" />
            <SettingToggle @bind-IsActive="IsTerminal" Label="Terminal Style" ActiveClass="btn-terminal" />
            <SettingToggle @bind-IsActive="IsCopyable" Label="Copyable Code" ActiveClass="btn-warning" />
            <LineNumberToggle @bind-IsActive="HasLineNumbers" @bind-StartingLineNumber="StartingLineNumber"
                Label="Line Numbers" />
        </NavMenu>
    </div>

    <div class="main">
        @*
            <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        *@

        <div class="content px-4">
            <div>
                <p>IsCodeTag: @IsCodeTag</p>
                <p>IsTerminal: @IsTerminal</p>
                <p>IsCopyable: @IsCopyable</p>
                <p>HasLineNumbers: @HasLineNumbers</p>
                <p>StartingLineNumber: @StartingLineNumber</p>
            </div>
            @Body
        </div>
    </div>
</div>

@code {
    private bool IsCodeTag = false;
    private bool IsTerminal = false;
    private bool IsCopyable = false;
    private bool HasLineNumbers = false;
    private int StartingLineNumber = 1;
}